@tailwind base;
@tailwind components;
@tailwind utilities;

/* App Styles */
.app {
  @apply bg-gradient-to-b from-accent1 via-[#e4e4e4] to-[#f3f3f3] text-accent2 dark:from-accent2 dark:via-[#0f0f0f] dark:to-[#0d0d0d] dark:text-accent1 text-body min-h-screen h-full w-full;
}

.main {
  @apply flex h-full flex-1 flex-col items-center w-full mb-10 lg:mb-0;
}

/* Navigation Styles */
/*! NAVBAR */
.navbar {
  @apply bg-transparent w-full h-[10vh] flex items-center justify-between p-5 z-30;
}

/*! LEFT SIDEBAR  */
.left-sidebar {
  @apply sticky left-0 top-0 z-20 flex max-h-screen w-[15%] transition-all ease-in duration-200 flex-col items-center justify-center overflow-auto p-5 max-md:hidden;
}

.left-sidebar-link {
  @apply text-accent2 dark:text-accent1 text-body rounded-full hover:bg-primary/10 hover:text-primary p-3 flex items-center gap-5 w-40;
}

.left-sidebar-active-link {
  @apply relative flex justify-start gap-4 rounded-full p-4 text-primary font-bold;
}

/*! RIGHT SIDEBAR  */
.right-sidebar {
  @apply z-20 flex h-full w-[20%] flex-col justify-between gap-12 overflow-auto rounded-2xl p-5 max-xl:hidden bg-opacity-100;
}

.sheet-links {
  @apply text-accent2 dark:text-accent1 text-body rounded-full hover:bg-primary/10 hover:text-primary p-3 flex items-center gap-5 w-40;
}
.sheet-config-links {
  @apply text-accent2 dark:text-accent1 text-body rounded-full hover:bg-red-500/10 hover:text-red-500 p-3 flex items-center gap-5 w-40;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.btn {
  @apply rounded-full p-2 bg-gradient-to-b from-[#1991fe] via-[#1183e8] to-[#0671cb] text-accent1;
}

.gradient{
  @apply bg-gradient-to-bl from-[#1991fe] via-[#1183e8] to-[#0671cb];
}

.gradient-radial{
  @apply bg-gradient-radial from-[#1991fe] from-40% to-[#0671cb] to-60%
}

.dark-gradient{
  @apply bg-gradient-to-br from-[#002A81] to-[#000C5B];
}

.pop-up {
  position: absolute;
  top: 0%;
  left: 30%;
  /* right: 50%; */
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  height: 100%;
}

.post-field {
  @apply dark:bg-accent2 bg-accent1 dark:focus-within:bg-accent2 focus-within:bg-accent1
}

.post-field {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/* .post-field:before {
  content: "";
  position: absolute;
  top: -8%;
  left: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(135deg) translate(-50%);
  border-right: 10px solid black;
} */
.post-field:focus-within {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px;
}
/* .post-field:focus-within::before {
  content: "";
  position: absolute;
  top: -4%;
  left: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(135deg) translate(-50%);
  border-right: 10px solid black;
} */

.video-container {
  margin-inline: auto;
}

.timeline{
  background: #13161a;
}

.timeline::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background: #E6EBF0;
  display: none;
}

.timeline-container:hover .timeline::before{
  display: block;
}

.video-duration{
  min-width: 40px;
}