@tailwind base;
@tailwind components;
@tailwind utilities;

.auth {
  background: #101010;
  /* background: #008e8b; */
  color: #fff;
}

.app {
  @apply bg-black text-[#CBCCFF];
}

.main {
  @apply flex min-h-screen flex-1 flex-col items-center p-12;
}

.navbar {
  @apply fixed top-0 z-30 flex w-full items-center justify-between px-10 py-5 bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #09090a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6a8181;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #CBCCFF;
}

.leftsidebar {
  @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-glassmorphism pb-5 pt-28 max-md:hidden;
}

.leftsidebar-link {
  @apply relative flex justify-start gap-4 rounded-full p-4 text-[#CBCCFF];
}

.leftsidebar-active-link {
  @apply relative flex justify-start gap-4 rounded-full p-4 text-[#CBCCFF] bg-[#474B76] font-bold;
}

.leftsidebar-link:hover {
  @apply bg-[#474B76] bg-opacity-10;
}

.footer {
  @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-md xs:px-7 md:hidden;
}

.footer-container {
  @apply flex items-center justify-between gap-3 xs:gap-5;
}

.footer-link {
  @apply relative flex flex-col items-center gap-2 rounded-full p-2 sm:flex-1 sm:px-2 sm:py-2.5 text-[#CBCCFF];
}

.footer-active-link {
  @apply relative flex flex-col items-center gap-2 rounded-full p-2 sm:flex-1 sm:px-2 sm:py-2.5 bg-[#474B76] font-bold;
}

.footer-link:hover {
  @apply bg-[#474B76] bg-opacity-10;
}

.rightsidebar {
  @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-glassmorphism px-10 pb-6 pt-28 max-xl:hidden;
}

.banner {
  background-image: url("/assets/utopia-banner.png");
  background-size: cover;
  width: "100%";
  height: auto;
}

.textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

/* .textarea {
  @apply;
} */
