@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg-gradient-to-b from-[#1991fe] via-[#1183e8] to-[#0671cb] */

/* APP STYLES */

.auth {
  background: #101010;
  /* background: #008e8b; */
  color: #fff;
}

.app {
  @apply bg-gradient-to-b from-[#070f16] via-[#000a13] to-black text-accent1 lg:p-10;
}

.main {
  @apply flex min-h-screen flex-1 flex-col items-center;
}

/* NAVIGATION STYLES */

.navbar {
  @apply z-30 w-full h-auto mb-5 max-w-full mx-auto my-0 flex items-center justify-between p-5 lg:rounded-2xl bg-[#13161a] bg-opacity-100;
}

.left-sidebar {
  @apply sticky left-0 top-0 z-20 flex h-screen w-[20%] flex-col justify-between overflow-auto rounded-2xl p-5 max-md:hidden bg-[#13161a] bg-opacity-100;
}

.right-sidebar-component {
  @apply sticky right-0 top-0 z-20 flex h-screen w-[20%] flex-col gap-2 overflow-auto rounded-2xl max-xl:hidden;
}

.right-sidebar {
  @apply z-20 flex h-screen w-full flex-col justify-between gap-12 overflow-auto rounded-2xl p-5 max-xl:hidden bg-[#13161a] bg-opacity-100;
}

.left-sidebar-link {
  @apply relative flex justify-start items-center gap-4 rounded-full p-4 text-white;
}

.left-sidebar-active-link {
  @apply relative flex justify-start gap-4 rounded-full p-4 text-white bg-gradient-to-b from-[#1991fe] via-[#1183e8] to-[#0671cb] font-bold;
}

.left-sidebar-link:hover {
  @apply bg-primary bg-opacity-10;
}

.footer {
  @apply fixed bottom-0 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-md xs:px-7 md:hidden;
}

.footer-container {
  @apply flex items-center justify-between gap-3 xs:gap-5;
}

.footer-link {
  @apply relative flex flex-col items-center gap-2 rounded-full p-2 sm:flex-1 sm:px-2 sm:py-2.5 text-accent1;
}

.footer-active-link {
  @apply relative flex flex-col items-center gap-2 rounded-full p-2 sm:flex-1 sm:px-2 sm:py-2.5 bg-accent2 font-bold;
}

.footer-link:hover {
  @apply bg-accent2 bg-opacity-10;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #09090a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6a8181;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #345b91;
}

/* COMPONENT STYLES */

.hash-card{
  @apply flex flex-col gap-5 p-5 w-full bg-accent2 rounded-lg
}

.banner {
  background-image: url("/assets/utopia-banner.png");
  background-size: cover;
  width: "100%";
  height: auto;
}

.textarea {
  border: none;
  overflow: auto;
  outline: none;
  position: relative;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

/* .textarea::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 25px;
  height: 15px;
  background-color: red;
  z-index: 1;
} */

.bubble {
  height: 100%;
  width: 100%;
  background: white;
  position: relative;
  padding: 10px;
}
.bubble:before {
  content: "";
  position: absolute;
  top: -3%;
  left: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(135deg) translate(-50%);
  border-right: 10px solid white;
}
.bubble-foc {
  height: 100%;
  width: 100%;
  background: white;
  position: relative;
  padding: 10px;
}
.bubble-foc::before {
  content: "";
  position: absolute;
  top: -1.25%;
  left: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(135deg) translate(-50%);
  border-right: 10px solid white;
}

.btn {
  @apply rounded-full p-2 bg-gradient-to-b from-[#1991fe] via-[#1183e8] to-[#0671cb];
}

.hash-text-wrap{
  @apply flex flex-wrap whitespace-pre-wrap
}
/* whitespace-pre-line break-all */